/* General Styling */
*
{
    margin: 0;
    box-sizing: border-box;
}

h1{font-family: "Cormorant Infant", serif;color: #1E1E1E;}

p,h2 {font-family: "Be Vietnam Pro", sans-serif;}

a
{
    font-family: "Cormorant SC", serif;
    font-size: 1.5rem;
    color: #1E1E1E;
}

img
{
    height: 100%;
    width: 100%;
}



/* Navigation */
.logo
{
    height:10rem;
    width:10rem;
    /* border: 1px solid red; */
}

#nav-bar
{
    height: 7rem;
    width: 100%;
    background-color: #FFF0F0;
    /* position: fixed; */
}

.links ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links ul li
{
    list-style: none;
    margin-right: 4rem;
}

.links ul li a
{
    text-decoration: none;
}

.links ul li a:hover
{
    color: #FA6275;
    /* font-weight: bold; */
}

/* Hero */
#hero
{
    height: 83vh;
    width: 100%;
    background-color: #FFF0F0;
    display: flex;
    justify-content: space-between; /* Push items to the ends of the container */
    align-items: center; 
}

.hero-left
{
    text-align: center;
    width: 100%;
}

.img-changer
{
    position: absolute;
    height: 25rem;
    width: 45rem;
    /* border: 1px solid red; */
    right: 0;
    bottom: 0;
}

.hero-decor
{
    height: 100px;
    width: 100px;
    position: absolute;
    right: 220px;
    top:240px;
}

button
{
    border: 3px solid #FA6275;
    width: 100px;
    height: 40px;
    color: #FA6275;
    font-family: "Cormorant SC", serif;
    font-weight: bold;
    background-color: #FFF0F0;
    transition: 0.4 ease-in;
    position: relative; /* Add relative positioning to the container */
    z-index: 1;
}

button:hover
{
    cursor: pointer;
    background-color: #FA6275;
    color: white;
    z-index: 1;
}

/* Banner */
.banner
{
    background-color: #FFB2BC;
    height: 7rem;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
}

.banner p
{
    position: relative;
    top: 40%;
}

/* Welcome */
#welcome
{
    background-color: #FFF0F0;
    height: 100vh;
    width: 100%;
    padding-top: 150px;
}

.welcome-img
{
    height:20rem;
    width: 20rem;
    rotate: -0.04turn;
    position: absolute;
    top: 128%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-content
{
    display: flex;
    width: 100%;
    height: 70vh;
}

.welcome-left,.welcome-right
{
    /* border: 1px solid red; */
    width: 50%;
    padding: 90px;
    text-align: right;
}

.welcome-right button
{
    margin-top: 5rem;
}

/* Shop */
#shop-now
{
    height: 50vh;
    width: 100%;
    background-color: white;
}

#youtube
{
    height: 50vh;
    width: 100%;
    background-color: #FFF0F0;
}

/* Contact */
#contact
{
    height:100vh;
    width: 100%;
    background-color: white;
}

.contact-form
{
    background-color: #FFF0F0;
    height: 35rem;
    width: 25rem;
    border-radius: 10px;
}