* {
    box-sizing: border-box;
    margin: 0;
}

body {
    overflow-x: hidden;
}

h1 {
    font-family: "Cinzel Decorative", serif;
    color: #E64D86;
    font-weight: 300;
}

p {
    font-family: "Cormorant SC", serif;;
}

button {
    height: 2.5rem;
    width: 7rem;
    border-radius: 2rem;
    border: none;
    font-family: "Cormorant Garamond", serif;
    background-color: #E64D86;
    color: white;

}

button:hover {
    cursor: pointer;
    background-color: #EC994D ;
}
/* Colors */
/* Ligt Pink : #FFEFEF
    Dark Pink : #E64D86
    Green : #94A92C
    Coral : #EC994D
 */

/* Navigation */

#nav-bar {
    max-height: 7rem;
    min-width: 100%;
    padding: 1rem;
    background-color: #FFEFEF;
    display: flex;
    align-items: center;
}

.nav-decor {
    margin-top: -10rem;
    z-index: 2;
}

.logo img{
    min-height: 3rem;
    max-width: 12rem;
}

.nav-items{
    position: relative;
    min-width: 45%;
}

.nav-items ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-items ul li a {
    text-decoration: none;
    font-family: "Cinzel Decorative", serif;
    color:#E64D86;
}

/* Hero */
#hero {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 85vh;
    max-width: 100%;
    background-color: #FFEFEF;
    position: relative; 
}

.hero-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hero-caption h1 {
    font-size: 5rem;
    text-align: center;
}

.hero-imgs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    right: 0;
}

.rhobyn-headshot {
    margin-top: 1rem; /* Adjust the margin to achieve the desired spacing */
    z-index: 0; /* Ensure it appears above the decor */
}

.hero-decor {
    position: absolute;
    z-index: 1;
    left: 5rem;
    top: 5rem;
}

#banner {
    background-color: #94A92C;
    color: white;
    min-height: 5rem;
    padding: 2rem;
    text-align: center;
}

